In [1]:
import pandas as pd
import json

Refactoring census age brackets to add 18, 19, 20 and 21 into their respective 5 year buckets, overwrites original file so this would only be run once

In [2]:
age = pd.read_csv("2010censuscountyagesexbrackets.csv")

In [3]:
pd.unique(age['age'])

array(['20', '21', '0 to 5', '11 to 15', '15-17', '18-19', '22-24',
       '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59',
       '6 to 10', '60-61', '62-64', '65-66', '67-69', '70-74', '75-79',
       '80-84', '85+'], dtype=object)

In [4]:
to1519 = age[(age['age'] == '15-17') | (age['age'] ==  '18-19')]
to1519 = to1519.copy()
to1519 = to1519[['county', 'sex','people']].groupby(['county','sex'], as_index=False).sum()
to1519['age'] = '15-19'
to1519.head()

              county  sex  people    age
0     Addison County    1    1653  15-19
1     Addison County    2    1633  15-19
2  Bennington County    1    1343  15-19
3  Bennington County    2    1335  15-19
4   Caledonia County    1    1273  15-19

In [5]:
to2024 = age[(age['age'] == '20') | (age['age'] ==  '21')| (age['age'] ==  '22-24')]
to2024 = to2024.copy()
to2024 = to2024[['county', 'sex','people']].groupby(['county','sex'], as_index=False).sum()
to2024['age'] = '20-24'
to2024.head()

              county  sex  people    age
0     Addison County    1    1655  20-24
1     Addison County    2    1414  20-24
2  Bennington County    1     996  20-24
3  Bennington County    2    1137  20-24
4   Caledonia County    1    1032  20-24

In [6]:
agesub = ['0-5', '11-15', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '06-10', '60-61', '62-64', '65-66', '67-69', '70-74', '75-79', '80-84', '85+']
age = age[age['age'].isin(agesub)]
age = age.append(to1519)
age = age.append(to2024)

In [7]:
pd.unique(age['age'])

array(['0 to 5', '11 to 15', '25-29', '30-34', '35-39', '40-44', '45-49',
       '50-54', '55-59', '6 to 10', '60-61', '62-64', '65-66', '67-69',
       '70-74', '75-79', '80-84', '85+', '15-19', '20-24'], dtype=object)

In [9]:
age.tail()

      age             county  people  sex
23  20-24  Washington County    1525    2
24  20-24     Windham County    1338    1
25  20-24     Windham County    1175    2
26  20-24     Windsor County    1336    1
27  20-24     Windsor County    1262    2

In [10]:
age.to_csv("2010censuscountyagesexbrackets.csv", index=False)